html {
    box-sizing : border-box ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

* ,
* ::before ,
* ::after {
    box-sizing : inherit ;
    
}

/*headers and fonts*/
h1, h2, h3, h4, h5 {
    font-family: 'Alatsi';
    color: #021a30;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    color: #e7eef8;
    background-color: #021a30;
    padding: 12px;
}

h5 {
    font-size: 15px;
}

p {
    font-size: 17px;
}

.smalltext {
    font-size: 14px;
}

#about {
    font-size: 24px;
}

#info  {
    margin-left: 80px;
}

/*images*/
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*navbar*/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #021a30;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    font-family: 'Alatsi';
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #021a30;
    background-color: #e7eef8;
  }
  
  main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  

  /*header*/
  header {
    text-align: center;
    line-height: 12px;
  }

  /*transition*/
.transition{
    font-size: 3rem;
    text-align: center ;
    letter-spacing: 8px;
}

.transition:hover {
    letter-spacing: 12px;
	transition: all 1s ease;
}


/*selection*/
::-moz-selection { /* Code for Firefox */
    color: #e7eef8;
    background: #3b6185;
  }
  
  ::selection {
    color: #e7eef8;
    background: #3b6185;
  }

/*footer*/
footer {
    background-color: #021a30;
    color: #e7eef8;
    padding-top: 24px;
    padding-bottom: 24px;
}

footer li {
    text-decoration: none;
    display: block;
    list-style-type: none;
}

footer p {
    padding-left: 50px;
    font-size: 12px;
}

/*column*/

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    }
    
    .row2:after {
    content: "";
    display: table;
    clear: both;
    }